{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Advisor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <nav>
        <div>
            <p>Logo</p>
        </div>

        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Logout</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </nav>

{% block content %}
    <header>
        <h1>Restaurant Advisor</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><box-icon type='solid' name='star' color="white"></box-icon></div>
            <div class="divider-custom-line"></div>
        </div>
        <p>Discover your next dining adventure with our Restaurant Advisor website. Explore client reviews, recommendations, and insider tips to find the perfect restaurant for every occasion.</p>
    </header>

    <section class="index-section">
        <h2>Selected restaurants</h2>
        <div class="posts-grid">
            {% for post in posts %}  
            <div>
                    
                    <p><b>{{ post.title }}</b></p>
                    <br>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" width="300px" height="200px" alt="restaurant-image">
                    {% endif %}
                    <p>{{ post.type }}</p>
                    <a href="{% url 'post_detail' post.slug %}">Reviews</a>
                    
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
    <footer>
        
        <h4 class="text-uppercase mb-4">Social Media</h4>

        <div class="social-media">
            <div class="icons">
                <a href="https://www.facebook.com/" aria-label="Facebook" target="_blank" rel="noopener noreferrer"><box-icon color="white" type='logo' name='facebook' animation="tada-hover"></box-icon></a>
                <a href="https://twitter.com/home" aria-label="Twitter" target="_blank" rel="noopener noreferrer"><box-icon color="white" name='twitter' type='logo' animation="tada-hover"></box-icon></a>
                <a href="https://www.linkedin.com/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><box-icon color="white" name='linkedin' type='logo' animation="tada-hover"></box-icon></a>
                <a href="https://www.youtube.com/" aria-label="Youtube" target="_blank" rel="noopener noreferrer"><box-icon color="white" name='youtube' type='logo' animation="tada-hover"></box-icon></a>
            </div>
        </div>
            
    </footer>
    <div class="copyright">
        <small>© 2023 Copyright: Juan-Santostefano</small>
    </div>
</body>
</html>